{% extends "default.html" %}

{% block main %}
<header>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">Haiku Generator</a>
        </div>
    </nav>
</header>

<main>
    <div class="row center">
        {% if haiku %}
        <p class="flow-text">
            {% for line in haiku %}
            {{ line }}
            <br>
            {% endfor %}
        </p>
        {% else %}
        <p class="flow-text">Generate a Haiku Below</p>
        {% endif %}
        <hr>
        <br>
        <form class="row" method="post" action="{{ form_action }}">
            <button class="btn waves-effect waves-light center" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</main>
{% endblock %}
